{% extends 'base.html' %}

{% block content %}

    <h1>Login</h1>

    <!-- POST the form to the login view on login -->
    <form method="POST">
        {% csrf_token %}

        <!-- Render errors if any -->
        {{ form.non_field_errors }}

        <!-- render form fields manually -->
        <p>
            Username: <br>
            {{ form.username }}
            {{form.username.errors}}
        </p>

        <p>
            Password: <br>
            {{ form.password }}
            {{ form.password.errors }}

        </p>

        <input type="submit" value="Submit">
    </form>

    <p>
        Need an account?
        <a href="{% url 'users:signup'%}">Sign Up</a>
    </p>

{% endblock %}