{% extends 'base.html' %}

{% block content %}

    <h1>Sign Up</h1>

    <!-- POST the form to the signup view on Submit -->
    <form method="POST">
        {% csrf_token %}

        <!-- Render form errors if any -->
        {{ form.non_field_errors }}

        <!-- render form fields manually -->
        <p>
            Username: <br>
            {{ form.username }}
            {{ form.username.errors }}
        </p>

        <p>
            Password: <br>
            {{ form.password1 }}
            {{ form.password1.errors }}

        </p>
        <p>
            Verify Password: <br>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </p>
        
        <input type="submit" value="Submit">
    </form>

    <p>
        Already have an account?
        <a href="{% url 'users:login' %}">Login</a>
    </p>

{% endblock %}